{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="large-8 cell wrapper padding">
    {{ page.content }}
    <div>
    </div>
    <dl>
      <dt><h5>PR contact and further enquires</h5></dt>
      <dd>Stephen Voisey</dd>
      <dt>Email</dt>
      <dd><a href="emailto:stephen@compass.works">stephen@compass.works</a></dd>
      <dt>Twitter</dt>
      <dd><a href="https://twitter.com/stephenvoisey">@stephenvoisey</a></dd>
      <dt>LinkedIn</dt>
      <dd><a href="https://www.linkedin.com/in/stephenvoisey/">linkedin.com/in/stephenvoisey</a></dd>
    </dl>
    </div>
    <aside class="large-4 cell">
      <h4>Images</h4>
      <div>
        <a href="letsworktogether-logo.jpg"><img src="letsworktogether-logo.jpg" width="100%"></a>
      </div>
      <div>
        <a href="letsworktogether.gif"><img src="letsworktogether.gif" width="100%"></a>
      </div>
      <div>
        <a href="letsworktogether.png"><img src="letsworktogether.png" width="100%"></a>
      </div>
      <div>
        <a href="letsworktogether-2.jpg"><img src="letsworktogether-2.jpg" width="100%"></a>
      </div>
    </aside>
{% endblock %}
