{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://build/css/letsworktogether.css', 100) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://node_modules/jquery/dist/jquery.min.js', { group: 'bottom' }) %}
    {% do assets.addJs('theme://node_modules/what-input/dist/what-input.js', { group: 'bottom' }) %}
    {% do assets.addJs('theme://node_modules/foundation-sites/dist/js/foundation.js', { group: 'bottom' }) %}
    {% do assets.addJs('theme://build/js/sausage.js', { loading: 'inline', group: 'bottom' }) %}
{% endblock %}


{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
<div class="grid-container">
{% block header %}
    <div class="header">
      <div class="grid-x">
        <div class="small-12 large-6 cell"><h1>{{ site.introduction|replace({'%LTW%': '<span class="logo">let\’s</span><span>work</span><span>.</span><span>to/gether</span>'}) }}</h1></div>
        <div class="site-button small-12 large-6 cell"><a href="https://letswork.to/gether" class="button large">Visit the main website</a></div>
      </div>
    </div>
    {% block header_navigation %}
    <nav class="grix-x main-nav">
      <div class="background">
        {% include 'partials/navigation.html.twig' %}
      </div>
    </nav>
    {% endblock %}
{% endblock %}

{% block body %}
    <section id="body" class="grid-x">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</div>
</body>
</html>
