/* GLOBAL SITE CSS - ADD CSS TO AFFECT THE WHOLE SITE */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter;
  }
}
