// Body Fonts
@include font-face("nb", "../fonts/nb_regular", ("woff2", "woff")) {font-style: normal; font-weight: 400;};
@include font-face("nb", "../fonts/nb_light_italic", ("woff2", "woff")) {font-style: italic; font-weight: 400;};
// Heading Fonts
@include font-face("nb", "../fonts/nb_regular", ("woff2", "woff")) {font-style: normal; font-weight: 700;};
@include font-face("nb-heading", "../fonts/nb_regular", ("woff2", "woff")) {font-style: normal; font-weight: 700;};
