.grid-x:first-of-type {
  @include gap(both, large)
}
h2:first-of-type {
  @include gap(both, medium)
}

h3 {
  color: $fern-green !important;
  padding-bottom: 20px !important;
}

div img {
  border: 2px solid $fern !important;
  margin-bottom: 20px;
}

p:first-of-type {
  font-size: 1.4rem;
}

aside {
  padding-left: 15px;
}

.site-button {
  padding-top: 50px;
  text-align: right;
  vertical-align: middle;
}

.background {
position: relative; /* for child pseudo-element */
  z-index: 0;
  margin: 0 -600rem;
  /* add back negative margin value */
  padding: 0.25rem 600rem;
  background-color: rgb(244, 255, 231);
}

.background::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  /* subtract h2 padding (1.5rem) */
  left: 598.5rem;
  right: 598.5rem;
  background-color: rgb(244, 255, 231);
}

#body {
  @include gap(both, large)
}


h5 {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

dd {
  margin-bottom: 10px !important;
}

dd:first-of-type {
  font-size: 1.1rem;
}

dt:not(:first-of-type) {
  display: block;
  padding-right: 30px;
}
dd:not(:first-of-type) {
  display: inline-block;
  // float: left;
}
