span.logo {
  color: $turtle-green;
  & + span {
    color: $fern;
    & + span {
      color: $booger;
      & + span {
        color: $fern-green;
        & + span {
          color: $fern-green;
        }
      }
    }
  }
}
