// Gap Mixin
// Gap distances set in base/_variables

@mixin gap($gap-type: 'both', $gap-distance: 'medium') {
  @if $gap-distance == 'xxlarge' {
		$gap-distance: $gap-xxlarge;
	}
  @if $gap-distance == 'xlarge' {
		$gap-distance: $gap-xlarge;
	}
  @if $gap-distance == 'large' {
		$gap-distance: $gap-large;
	}
  @if $gap-distance == 'medium' {
		$gap-distance: $gap-medium;
	}
  @if $gap-distance == 'small' {
		$gap-distance: $gap-small;
	}
  @if $gap-distance == 'tiny' {
		$gap-distance: $gap-tiny;
	}
  @if $gap-type == 'both' {
		@include padding($gap-distance null $gap-distance null);
	}
  @if $gap-type == 'top' {
		@include padding($gap-distance null null null);
	}
  @if $gap-type == 'bottom' {
		@include padding(null null $gap-distance null);
	}
  @if $gap-type == 'sides' {
		@include padding(null $gap-distance null $gap-distance);
	}
  @if $gap-type == 'left' {
		@include padding(null null null $gap-distance);
	}
  @if $gap-type == 'right' {
		@include padding(null $gap-distance null null);
	}
  @if $gap-type == 'all' {
		@include padding($gap-distance $gap-distance $gap-distance $gap-distance);
	}
}
